<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/maincss.css">

</head>
  <body>
    <!-- <p>test</p> -->
    <div class="divclass">
    <img src="/logo.png" id="logoclass"> </img>
    </div>

<!-- <form id="form1"> -->
  <label class="lableclass">
    BROWSE
  <input id="inid" type="file" name="sampleFile" class="inputfileclass"/>
</label>
  <button id="hht" class="buttonclass">Upload </button>
  <br>
  <br>
  <div class="newdiv">
    <table id="table1">
      <thead>
   <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
   </tr>
  </thead>
      </table>
  </div>


<!-- </form> -->

<script type="text/javascript"
 src ="/jquery-3.2.1.min.js">
</script>
    <script type="text/javascript"
     src="/socket.io/socket.io.js" >
    </script>
    <script type="text/javascript"
    src="/dynamic.js">
    </script>

  </body>
</html>
